/** @format */

@import '../style/config.scss';
@import '../style/mixins/spread.scss';

$tag-list: (
  '': $tag-height-base,
  '-large': $tag-height-lg,
  '-small': $tag-height-sm,
);

.w-tag {
  border: 1px solid $tag-border-border;
  color: $text-color;
  padding: 0 8px;
  white-space: nowrap;
  background: $tag-bg;
  cursor: pointer;
  border-radius: $border-radius-base;
  font-family: $font-family;

  &-inline {
    display: inline-block;
    vertical-align: middle;
  }

  // 循环尺寸
  @each $size, $value in $tag-list {
    &#{$size} {
      height: $value;
      line-height: $value - 2;
      font-size: 0;

      @if $size == '-sm' {
        padding: 0 $padding-xs;
      }
    }
  }

  &-text {
    font-size: $font-size-sm;
  }

  &-icon {
    font-size: $font-size-sm;
    padding-right: $padding-xxs;
  }

  & a {
    color: $text-color;

    &:hover {
      color: $text-color;
    }
  }

  &-close {
    width: 10px;
    height: 10px;
    display: inline-block;
    position: relative;
    margin-left: 3px;
    transform: translateY(1px);
    color: $text-color-secondary;
    font-size: $font-size-sm;

    &:hover {
      color: $text-color;
    }

    &-section {
      &::before,
      &::after {
        background: $component-background;
      }

      &:hover {
        &::before,
        &::after {
          background: $component-background;
        }
      }
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    &-disabled,
    &-disabled:hover {
      &::before,
      &::after {
        background: $disabled-color;
      }
    }
  } // w-tag-close end

  &-loading {
    @extend .w-tag-close;

    color: inherit;

    &-box {
      opacity: 0.5;
      pointer-events: none;
      position: relative;
      transition: opacity $tag-duration;
    }
  }

  &-disabled {
    color: $disabled-color;
    cursor: not-allowed;
  }
}
