/** @format */

@import '../style/config.scss';

@keyframes statusProcessing {
  0% {
    transform: scale(0.8);
    opacity: 0.5;
  }

  100% {
    transform: scale(2.4);
    opacity: 0;
  }
}

.w-badge {
  font-variant: tabular-nums;
  font-feature-settings: 'tnum';
  position: relative;
  display: inline-block;

  &-custom {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    transform-origin: 100% 0%;

    &-rtl {
      right: auto;
      left: 0;
      transform: translate(-50%, -50%);
    }
  }

  &-sup {
    @extend .w-badge-custom;

    z-index: 10;
    min-width: $badge-height;
    height: $badge-height;
    padding: 0 6px;
    font-weight: $badge-font-weight;
    color: $badge-text-color;
    font-size: $badge-font-size;
    line-height: $badge-height;
    white-space: nowrap;
    text-align: center;
    background: $badge-color;
    border-radius: $badge-height / 2;
    box-shadow: 0 0 0 1px $badge-shadow;
    vertical-align: baseline;
    box-sizing: border-box;
    font-family: $font-family;

    &-small {
      @extend .w-badge-sup;

      min-width: $badge-height-sm;
      height: $badge-height-sm;
      padding: 0;
      font-size: $badge-font-size-sm;
      line-height: $badge-height-sm;
      border-radius: $badge-height-sm / 2;

      &-more {
        padding: 0 8px;
      }
    }

    &-rtl {
      @extend .w-badge-custom-rtl;
    }
  }

  &-count {
    transform: none;
    position: relative;
    display: inline-block;
  }

  &-dot {
    @extend .w-badge-custom;

    z-index: 10;
    width: $badge-status-size;
    height: $badge-status-size;
    background: $badge-color;
    border-radius: 100%;
    box-shadow: 0 0 0 1px $badge-shadow;

    &-rtl {
      @extend .w-badge-custom-rtl;
    }
  }

  &-status {
    vertical-align: baseline;
    line-height: inherit;

    &-dot {
      position: relative;
      top: -1px;
      display: inline-block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
    }

    &-success {
      background-color: $success-color;
    }

    &-error {
      background-color: $error-color;
    }

    &-default {
      background-color: $badge-default;
    }

    &-processing {
      background-color: $badge-color;
      position: relative;

      &::after {
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 1px solid $badge-color;
        border-radius: 50%;
        animation: statusProcessing 1.2s infinite ease-in-out;
        content: '';
      }
    }

    &-warning {
      background-color: $warning-color;
    }

    &-text {
      margin: 0 0 0 8px;
      color: $text-color;
      font-size: $font-size-base;
      line-height: 22px;
      font-family: $font-family;
      font-variant: tabular-nums;
      font-feature-settings: 'tnum';

      &-rtl {
        margin: 0 8px 0 0;
      }
    }
  }
}
