/** @format */

@import '../style/config.scss';
@import '../style/mixins/spread.scss';

$prefix: 'w-';
$button-list: (
  '': $button-height-base,
  '-large': $button-height-lg,
  '-small': $button-height-sm,
);
$button-circle-min-width: (
  '': $button-circle-min-width-base,
  '-large': $button-circle-min-width-lg,
  '-small': $button-circle-min-width-sm,
);
$button-padding: (
  '': $padding-md,
  '-large': $padding-md,
  '-small': $padding-xs,
);
$button-icon: (
  '': $button-icon-base,
  '-large': $button-icon-lg,
  '-small': $button-icon-sm,
);
$button-font: (
  '': $font-size-base,
  '-large': $font-size-lg,
  '-small': $font-size-base,
);
$button-text-margin: (
  '': $button-text-margin-base,
  '-large': $button-text-margin-lg,
  '-small': $button-text-margin-sm,
);

$button-only-padding: (
  '': $button-only-padding-base,
  '-large': $button-only-padding-lg,
  '-small': $button-only-padding-sm,
);

.#{$prefix}btn {
  box-sizing: border-box;
  font-family: $font-family;
  display: inline-block;
  cursor: pointer;
  border-radius: $border-radius-base;
  border: 1px solid transparent;
  background: $button-primary-bg;
  border-color: $button-primary-border;
  color: $button-primary-color;
  transition: all 0.3s ease;
  outline: none;
  // 用户是否可选择文本
  user-select: none;
  // 浏览器只允许进行滚动和持续缩放操作
  touch-action: manipulation;
  // 文本不换行
  white-space: nowrap;
  font-size: 0;

  @each $size, $value in $button-padding {
    &#{$size} {
      padding: 0 $value;
    }
  }

  &:focus {
    border-color: color-palette($button-primary-border, 7);
    background: color-palette($button-primary-bg, 7);
    color: $button-primary-color;
  }

  &:hover {
    border-color: color-palette($button-primary-border, 5);
    background: color-palette($button-primary-bg, 5);
    color: $button-primary-color;
  }

  &-circle {
    padding-right: 0;
    padding-left: 0;
    text-align: center;
    border-radius: 50%;
  }

  @each $size, $value in $button-circle-min-width {
    &-circle.w-btn#{$size} {
      min-width: $value;
    }
  }

  &-body {
    margin-left: 8px;

    &:first-child {
      margin: 0;
    }
    // 循环尺寸
    @each $size, $value in $button-text-margin {
      &#{$size} {
        font-size: map-get($button-font, $size);
      }
    }
  }

  &-text {
    display: inline-block;
    vertical-align: middle;
    // 循环尺寸
    @each $size, $value in $button-text-margin {
      &#{$size} {
        font-size: map-get($button-font, $size);
      }

      &-icon#{$size} {
        margin-left: $value;
      }
    }
  }

  &-info {
    background: $button-info-bg;
    color: $button-info-color;
    border-color: $button-info-border;

    &:focus {
      background: $button-info-bg;
      border-color: color-palette($button-info-border, 7);
      color: color-palette($button-info-color, 7);
    }

    &:hover {
      background: $button-info-bg;
      border-color: color-palette($button-info-border, 5);
      color: color-palette($button-info-color, 5);
    }
  }

  &-border {
    @extend .#{$prefix}btn-info;

    background: $button-border-bg;
    border-color: $button-border-border;
    color: $button-border-color;
  }

  &-dashed {
    @extend .#{$prefix}btn-border;

    background: $button-dashed-bg;
    border-color: $button-dashed-border;
    color: $button-dashed-color;
    border-style: dashed;
  }

  &-danger {
    background: $button-danger-bg;
    color: $button-danger-color;
    border-color: $button-danger-border;

    &:focus {
      color: $button-danger-color;
      background: color-palette($button-danger-bg, 7);
      border-color: color-palette($button-danger-border, 7);
    }

    &:hover {
      background: color-palette($button-danger-bg, 5);
      color: $button-danger-color;
      border-color: color-palette($button-danger-border, 5);
    }
  }
  // 循环尺寸
  @each $size, $value in $button-list {
    &-icon#{$size},
    &-body {
      display: inline-block;
      vertical-align: middle;

      & span {
        display: block;
      }

      & img,
      & svg {
        display: block;
        width: map-get($button-icon, $size);
        height: map-get($button-icon, $size);
      }
    }

    &-only#{$size} {
      padding: map-get($button-only-padding, $size);

      & .w-btn-icon {
        display: block;
      }
    }

    &-text#{$size} {
      line-height: $value - 2px;
    }

    &-round.w-btn#{$size} {
      height: $value;
      padding: 0 map-get($button-padding, $size);
      font-size: map-get($button-font, $size);
      border-radius: $value;
    }
  }

  &-loading {
    position: relative;

    &::before {
      content: ' ';
      position: absolute;
      cursor: not-allowed;
      top: -1px;
      left: -1px;
      bottom: -1px;
      right: -1px;
      background: $button-loading-bg;
      border-radius: inherit;
      opacity: 0.5;
    }

    &:focus,
    &:hover {
      background: $button-primary-bg;
      border-color: $button-primary-border;
      color: $button-primary-color;
    }

    &.#{$prefix}btn-info:focus,
    &.#{$prefix}btn-info:hover {
      background: $button-info-bg;
      color: $button-info-color;
      border-color: $button-info-border;
    }

    &.#{$prefix}btn-dashed:focus,
    &.#{$prefix}btn-dashed:hover {
      background: $button-dashed-bg;
      border-color: $button-dashed-border;
      color: $button-dashed-color;
    }

    &.#{$prefix}btn-border:focus,
    &.#{$prefix}btn-border:hover {
      background: $button-border-bg;
      border-color: $button-border-border;
      color: $button-border-color;
    }

    &.#{$prefix}btn-danger:focus,
    &.#{$prefix}btn-danger:hover {
      background: $button-danger-bg;
      color: $button-danger-color;
      border-color: $button-danger-border;
    }
  }

  &-click {
    position: relative;

    &::before {
      content: ' ';
      position: absolute;
      top: -1px;
      bottom: -1px;
      right: -1px;
      left: -1px;
      border-radius: inherit;
      border: 1px solid;
      border-color: inherit;
      opacity: 0.4;

      @include speadMixin;
    }
  }

  &-ghost {
    background: none;
    color: $button-ghost-color;

    &:hover,
    &:focus {
      background: none;
    }

    &.#{$prefix}btn-border {
      color: $button-border-color;
    }

    &.#{$prefix}btn-danger {
      color: $button-danger-color;

      &:focus,
      &:hover {
        border-color: $button-danger-border;
        color: $button-danger-color;
      }
    }

    &,
    &.#{$prefix}btn-border,
    &.#{$prefix}btn-info,
    &.#{$prefix}btn-dashed {
      &:focus,
      &:hover {
        border-color: color-palette($button-primary-border, 5);
        color: color-palette($button-primary-color, 5);
      }
    }

    &.#{$prefix}btn-disabled {
      background: none;
      color: $button-ghost-disabled-color;

      &:hover,
      &:focus {
        background: none;
        color: $button-ghost-disabled-color;
        border-color: $button-disabled-border;
      }
    }
  }

  &-disabled {
    background: $button-disabled-bg;
    color: $button-disabled-color;
    border-color: $button-disabled-border;
    cursor: not-allowed;

    &:hover,
    &:focus {
      background: $button-disabled-bg;
      color: $button-disabled-color;
      border-color: $button-disabled-border;
    }
  }
}
