/** @format */

@import '../input/input';

.w-textarea {
  &-nice {
    padding: 0;
    // border: none;
    height: auto;

    & > textarea.w-textarea {
      min-height: $textarea-min-height-base;
      padding: $padding-xxs $padding-sm;
    }

    & .w-input-clear {
      padding: 0;
      position: absolute;
      top: ($textarea-min-height-base - $font-size-sm) / 2;

      &-ltr {
        right: $padding-xxs;
      }

      &-rtl {
        left: $padding-xxs;
      }
    }

    & .w-input-limit {
      position: absolute;
      right: $padding-xs;
      bottom: $padding-xxs;
    }

    &-borderless {
      & > textarea.w-textarea {
        border: none;
      }
    }
  }
}
