/** @format */

@import '../style/config.scss';

.w-password {
  &-icon {
    color: $password-icon-color;
    cursor: pointer;
    transition: all $password-duration;

    &:hover {
      color: $password-icon-color-hover;
    }
  }
}
