/** @format */

@import '../style/config.scss';

.w-poper {
  margin: 0;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  position: absolute;
  top: -9999px;
  left: -9999px;
  z-index: 1050;
  box-sizing: border-box;
  padding: 0;
  overflow: hidden;
  font-variant: normal;
  outline: none;

  &-box {
    position: relative;
  }
}
