/** @format */

@use 'sass:color';

@import '../config.scss';

@mixin active($color: $outline-color) {
  border-color: $color;
  border-right-width: $border-width-base !important;
  outline: 0;
  box-shadow: $outline-offset $outline-blur-size $outline-width
    color-palette($color, 1);
}
