/** @format */

@import '../config.scss';

@mixin placeholder($color: $placeholder-color) {
  &::-webkit-input-placeholder {
    color: $color;
    font-size: $input-font-size-sm;
  }

  &::-moz-placeholder {
    color: $color;
    font-size: $input-font-size-sm;
    opacity: 1;
  }

  &::placeholder {
    color: $color;
    font-size: $input-font-size-sm;
  }

  &:placeholder-shown {
    text-overflow: ellipsis;
  }
}

@mixin focus() {
  &:focus {
    outline: none;
  }
}
