/** @format */
@use 'sass:color';

@import './colors.scss';

$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !default;

// -------- Colors -----------
$primary-color: $blue-6 !default;
$info-color: $blue-6 !default;
$success-color: $green-6 !default;
$processing-color: $blue-6 !default;
$error-color: $red-6 !default;
$warning-color: $gold-6 !default;
$normal-color: #d9d9d9 !default;
$white: #fff !default;
$black: #000 !default;
$gray: #dcdcdc !default;

// Color used by default to control hover and active backgrounds and for
// alert info backgrounds.
$primary-1: color-palette($primary-color, 1) !default;
$primary-2: color-palette($primary-color, 2) !default;
$primary-3: color-palette($primary-color, 3) !default;
$primary-4: color-palette($primary-color, 4) !default;
$primary-5: color-palette($primary-color, 5) !default;
$primary-6: color-palette($primary-color, 6) !default;
$primary-7: color-palette($primary-color, 7) !default;
$primary-9: color-palette($primary-color, 9) !default;
$primary-10: color-palette($primary-color, 10) !default;

// Background color for `<body>`
$body-background: #fff !default;
// Base background color for most components
$component-background: #fff !default;

$code-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier,
  monospace !default;

$text-color: color.scale($black, $alpha: -15%) !default;
$text-color-secondary: color.scale($black, $alpha: -55%) !default;
$text-color-inverse: $white !default;

$icon-color: inherit !default;
$icon-color-hover: color.scale($black, $alpha: -25%) !default;

$font-variant-base: tabular-nums !default;
$font-feature-settings-base: 'tnum' !default;
// 字号
$font-size-base: 14px !default;
$font-size-lg: $font-size-base + 2px !default;
$font-size-sm: $font-size-base - 2px !default;

$border-radius-base: 2px !default;
$border-radius-sm: $border-radius-base !default;

// 内边距
$padding-lg: 24px !default;
$padding-md: 16px !default;
$padding-sm: 12px !default;
$padding-xs: 8px !default;

// 运动方式
$ease-base-out: cubic-bezier(0.7, 0.3, 0.1, 1) !default;
$ease-base-in: cubic-bezier(0.9, 0, 0.3, 0.7) !default;
$ease-out: cubic-bezier(0.215, 0.61, 0.355, 1) !default;
$ease-in: cubic-bezier(0.55, 0.055, 0.675, 0.19) !default;
$ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1) !default;
$ease-out-back: cubic-bezier(0.12, 0.4, 0.29, 1.46) !default;
$ease-in-back: cubic-bezier(0.71, -0.46, 0.88, 0.6) !default;
$ease-in-out-back: cubic-bezier(0.71, -0.46, 0.29, 1.46) !default;
$ease-out-circ: cubic-bezier(0.08, 0.82, 0.17, 1) !default;
$ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.34) !default;
$ease-in-out-circ: cubic-bezier(0.78, 0.14, 0.15, 0.86) !default;
$ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1) !default;
$ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06) !default;
$ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1) !default;

// 阴影
$shadow-color: rgba(0, 0, 0, 0.15) !default;
$shadow-color-inverse: $component-background !default;
$shadow-1-up: 0 -6px 16px -8px rgba(0, 0, 0, 0.08),
  0 -9px 28px 0 rgba(0, 0, 0, 0.05), 0 -12px 48px 16px rgba(0, 0, 0, 0.03) !default;
$shadow-1-down: 0 6px 16px -8px rgba(0, 0, 0, 0.08),
  0 9px 28px 0 rgba(0, 0, 0, 0.05), 0 12px 48px 16px rgba(0, 0, 0, 0.03) !default;
$shadow-1-left: -6px 0 16px -8px rgba(0, 0, 0, 0.08),
  -9px 0 28px 0 rgba(0, 0, 0, 0.05), -12px 0 48px 16px rgba(0, 0, 0, 0.03) !default;
$shadow-1-right: 6px 0 16px -8px rgba(0, 0, 0, 0.08),
  9px 0 28px 0 rgba(0, 0, 0, 0.05), 12px 0 48px 16px rgba(0, 0, 0, 0.03) !default;
$shadow-2: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08),
  0 9px 28px 8px rgba(0, 0, 0, 0.05) !default;
$box-shadow-base: $shadow-2 !default;

// 动画
$animation-duration-slow: 0.3s !default; // Modal
$animation-duration-base: 0.2s !default;
$animation-duration-fast: 0.1s !default; // Tooltip

// 正常
$normal-border: #dbdee9 !default;
$normal-bg: $white !default;
$normal-color: $white !default;
// 行高
$line-height-large: 22px !default;
$line-height: 18px !default;
$line-height-small: 16px !default;
//不可用 颜色
$disabled-bg: #eff1f6 !default;
$disabled-bg-on: #e6e6e6 !default;
$disabled-color: color.scale($black, $alpha: -75%) !default;
$disabled-border: #dbdee9 !default;
// code 的样式
$code-bg: #f0f0f0 !default;
// 阴影
$shadow: rgba(0, 0, 0, 0.15) !default;
// 遮罩颜色
$mask: rgba(0, 0, 0, 0.65) !default;
// 分割线
$dividing-color: #eaeef5 !default;
$dividing-small: 8px !default;
$dividing-middle: 16px !default;
$dividing-large: 24px !default;
// 间距
$space-small: 8px !default;
$space-middle: 16px !default;
$space-large: 32px !default;
// 超链的时间
$link-duration: $animation-duration-slow !default;
$link-color: $primary-color !default;
$link-hover-color: color-palette($link-color, 5) !default;
$link-active-color: color-palette($link-color, 7) !default;
$link-decoration: none !default;
$link-hover-decoration: none !default;
$link-disabled-color: $disabled-color !default;
$link-opacity: 0.5 !default;
$link-font-size-sm: $font-size-sm !default;
$link-font-size: $font-size-base !default;
$link-font-size-lg: $font-size-base !default;
// 空状态
$empty-size: 14px !default;
$empty-color: #292b2d !default;
$empty-color-light: #60636c !default;
$empty-img-space: 8px !default;
// 加载中
$spin-color: $primary-color !default;
$spin-duration: $animation-duration-slow !default;
$spin-font-size-sm: $font-size-sm !default;
$spin-font-size: $font-size-base !default;
$spin-font-size-lg: $font-size-base !default;
$spin-size-sm: 14px !default;
$spin-size: 20px !default;
$spin-size-lg: 32px !default;
$spin-tip-space-sm: 4px !default;
$spin-tip-space: 8px !default;
$spin-tip-space-lg: 12px !default;
$spin-opacity: 0.4 !default;
// 开关
$switch-color: $primary-color !default;
$switch-height: 20px !default;
$switch-sm-height: 16px !default;
$switch-min-width: 44px !default;
$switch-sm-min-width: 28px !default;
$switch-duration: $animation-duration-slow !default;
$switch-loading-color: color.scale($black, $alpha: -55%) !default;
$switch-disabled-bg: $disabled-bg !default;
$switch-normal-bg: $normal-bg !default;
$switch-font-size: $font-size-sm !default;
$switch-normal-color: $normal-color !default;
// 按钮
$button-primary-color: $text-color-inverse !default;
$button-primary-bg: $primary-color !default;
$button-primary-border: $primary-color !default;
$button-info-color: $text-color !default;
$button-info-bg: $normal-bg !default;
$button-info-border: $info-color !default;
$button-border-bg: $normal-bg !default;
$button-border-color: $text-color !default;
$button-border-border: $normal-border !default;
$button-dashed-bg: $normal-bg !default;
$button-dashed-color: $text-color !default;
$button-dashed-border: $normal-border !default;
$button-danger-color: $text-color-inverse !default;
$button-danger-bg: color-palette($error-color, 5) !default;
$button-danger-border: color-palette($error-color, 5) !default;
$button-disabled-color: $disabled-color !default;
$button-disabled-bg: $disabled-bg !default;
$button-disabled-border: $disabled-border !default;
$button-loading-bg: $normal-bg !default;
$button-ghost-disabled-color: color.scale($black, $alpha: -75%) !default;
$button-ghost-color: $primary-color !default;
$button-height-base: 28px !default;
$button-height-sm: 24px !default;
$button-height-lg: 32px !default;
$button-circle-min-width-base: 28px !default;
$button-circle-min-width-lg: 30px !default;
$button-circle-min-width-sm: 22px !default;
$button-icon-base: 12px !default;
$button-icon-lg: 16px !default;
$button-icon-sm: 12px !default;
$button-icon-padding-base: 8px !default;
$button-icon-padding-lg: 8px !default;
$button-icon-padding-sm: 6px !default;
$button-text-margin-base: 8px !default;
$button-text-margin-lg: 8px !default;
$button-text-margin-sm: 4px !default;
$button-only-padding-base: 7px !default;
$button-only-padding-lg: 8px !default;
$button-only-padding-sm: 4px !default;

// 单选
$radio-color: $primary-color !default;
$radio-solid-color: $text-color-inverse !default;
$radio-hover-color: color-palette($radio-color, 5) !default;
$radio-active-color: color-palette($radio-color, 7) !default;
$radio-button-color: $text-color !default;
$radio-button-bg: $component-background !default;
$radio-button-border: $normal-border !default;
$radio-duration: $animation-duration-slow !default;
$radio-button-height-base: $button-height-base !default;
$radio-button-height-sm: $button-height-sm !default;
$radio-button-height-lg: $button-height-lg !default;
$radio-disabled-color: $disabled-color !default;
$radio-disabled-bg: $disabled-bg !default;
$radio-disabled-bg-on: $disabled-bg-on !default;
$radio-disabled-border: $disabled-border !default;
$radio-disabled-on: #bfbfbf !default;
$radio-disabled-inner-on: #8c8c8c !default;

// 多选
$checkbox-color: $primary-color !default;
$checkbox-solid-color: $text-color-inverse !default;
$checkbox-hover-color: color-palette($checkbox-color, 5) !default;
$checkbox-active-color: color-palette($checkbox-color, 7) !default;
$checkbox-button-color: $text-color !default;
$checkbox-button-bg: $component-background !default;
$checkbox-button-border: $normal-border !default;
$checkbox-duration: $animation-duration-slow !default;
$checkbox-button-height-base: $button-height-base !default;
$checkbox-button-height-sm: $button-height-sm !default;
$checkbox-button-height-lg: $button-height-lg !default;
$checkbox-disabled-color: $disabled-color !default;
$checkbox-disabled-bg: $disabled-bg !default;
$checkbox-disabled-bg-on: $disabled-bg-on !default;
$checkbox-disabled-border: $disabled-border !default;
$checkbox-disabled-on: #bfbfbf !default;

// 数字输入框
$input-number-height-base: $button-height-base !default;
$input-number-height-sm: $button-height-sm !default;
$input-number-height-lg: $button-height-lg !default;
$input-number-duration: $animation-duration-slow !default;

// 徽章
$badge-color: $error-color !default;
$badge-default: $normal-color !default;
$badge-height: 20px !default;
$badge-height-sm: 14px !default;
$badge-dot-size: 6px !default;
$badge-font-size: $font-size-sm !default;
$badge-font-size-sm: $font-size-sm !default;
$badge-font-weight: normal !default;
$badge-status-size: 6px !default;
$badge-text-color: $component-background !default;
$badge-shadow: $component-background !default;

// 滚动
$scroll-thumb-bg: rgba(144, 147, 153, 0.3) !default;
$scroll-duration: $animation-duration-slow !default;
