/** @format */

@import '../style/config.scss';

$type-list: (
  '-danger': $error-color,
  '-warning': $warning-color,
  '-secondary': $text-color-secondary,
  '-info': $gray,
  '-success': $success-color,
);

.w-title {
  color: $text-color;
  font-size: $text-size;
  line-height: $line-height;
  font-family: $font-family;
  position: relative;
  margin: 0;

  &-mark {
    padding: 0;
    color: inherit;
  }

  &-strong {
    font-weight: 600;
  }

  &-delete {
    text-decoration: line-through;
  }

  &-code {
    margin: 0 4px;
    padding: 0.2em 0.4em 0.1em;
    font-size: 85%;
    background: $code-bg;
    border: 1px solid $normal-border;
    border-radius: 3px;
    display: inline-block;
  }

  &-u {
    text-decoration: underline;
  }

  @each $size, $value in $type-list {
    &#{$size} {
      color: $value;
    }
  }

  &-disabled {
    color: $disabled-color;
    cursor: not-allowed;

    & .w-title-u::after {
      border-bottom: 1px solid $disabled-color;
    }
  }

  &-1 {
    font-weight: 600;
    font-size: 38px;
    line-height: 1.23;
  }

  &-2 {
    font-weight: 600;
    font-size: 30px;
    line-height: 1.35;
  }

  &-3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.35;
  }

  &-4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.4;
  }
}
