/** @format */

@import '../style/config.scss';

$space-list: (
  '': $space-base,
  '-large': $space-lg,
  '-small': $space-sm,
);

$space-type: (
  'horizontal-ltr': 'right',
  'horizontal-rtl': 'left',
  'vertical': 'bottom',
);

.w-space {
  display: flex; // inline-flex 在内嵌滚动组件的时候会有莫名的高度问题

  &-vertical {
    flex-direction: column;
  }

  &-horizontal {
    flex-wrap: wrap;
  }

  &-align {
    &-start {
      align-items: flex-start;
    }

    &-center {
      align-items: center;
    }

    &-end {
      align-items: flex-end;
    }

    &-baseline {
      align-items: baseline;
    }
  }

  @each $type, $typeValue in $space-type {
    &-item-#{$type} {
      @each $size, $value in $space-list {
        &#{$size} {
          padding-#{$typeValue}: $value;
          line-height: 1;

          &:last-child {
            padding: 0;
          }
        }
      }
    }
  }
}
