/** @format */

@import '../style/config.scss';

$space-list: (
  '': $space-middle,
  '-large': $space-large,
  '-small': $space-small,
);

$space-type: (
  'horizontal': 'right',
  'vertical': 'bottom',
);

.w-space {
  display: inline-flex;

  &-vertical {
    flex-direction: column;
  }

  &-align {
    &-start {
      align-items: flex-start;
    }

    &-center {
      align-items: center;
    }

    &-end {
      align-items: flex-end;
    }

    &-baseline {
      align-items: baseline;
    }
  }

  @each $type, $typeValue in $space-type {
    &-item-#{$type} {
      @each $size, $value in $space-list {
        &#{$size} {
          padding-#{$typeValue}: $value;

          &:last-child {
            padding: 0;
          }
        }
      }
    }
  }
}
