/** @format */

@import '../style/config.scss';
@import '../style/mixins/spread.scss';

$tag-list: (
  '': $tag-height-base,
  '-large': $tag-height-lg,
  '-small': $tag-height-sm,
);

.w-newtag {
  box-sizing: border-box;
  margin: 0;
  color: $text-color;
  font-family: $font-family;
  font-size: 12px;
  font-variant: tabular-nums;
  list-style: none;
  font-feature-settings: 'tnum';
  padding: 0 $padding-xs;
  white-space: nowrap;
  background: $white;
  border: 1px dashed $tag-border-border;
  border-radius: $border-radius-base;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;

  &-block {
    display: block;
  }

  // 循环尺寸
  @each $size, $value in $tag-list {
    &#{$size} {
      height: $value;
      line-height: $value - 2;
    }
  }

  &-icon {
    position: relative;
    margin-right: 4px;
  } // w-newtag-icon
}
