/** @format */

@import '../style/mixins/fade';

.w-mask {
  margin: 0;
  list-style: none;
  font-feature-settings: 'tnum';
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  background-color: $mask-color;
  box-sizing: border-box;
  padding: 0;
  font-variant: normal;
  outline: none;
  z-index: 1000;

  &-root {
    position: relative;
    z-index: 1000;
  }

  &-core {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    outline: 0;
    -webkit-overflow-scrolling: touch;
    z-index: 1000;
  }
}
