/** @format */

$family: Helvetica, 'PingFang SC', STHeiti, 'Microsoft YaHei', 微软雅黑, Verdana,
  Arial, Tahoma, STXihei, 华文细黑, MicrosoftYaHeiUI, sans-serif !default;

$white: #fff !default;

$normal-border: #dbdee9 !default;
$normal-bg: $white !default;
$normal-color: $white !default;

// Dust Red / 薄暮
// 斗志、奔放
$red-5: #ff1a57 !default;
$red-6: #f04 !default;
$red-7: #cf1322 !default;
// Volcano / 火山
// 醒目、澎湃
$volcano-6: #fa541c !default;
// Sunset Orange / 日暮
// 温暖、欢快
$orange-6: #fa8c16 !default;
// Calendula Gold / 金盏花
// 活力、积极
$gold-6: #faad14 !default;
// Sunrise Yellow / 日出
// 出生、阳光
$yellow-6: #fadb14 !default;
// Lime / 青柠
// 自然、生机
$lime-6: #a0d911 !default;
// Polar Green / 极光绿
// 健康、创新
$green-6: #52c41a !default;
// Cyan / 明青
// 希望、坚强
$cyan-6: #13c2c2 !default;
// Daybreak Blue / 拂晓蓝
// 包容、科技、普惠
$blue-5: #34abfe !default;
$blue-6: #0297fe !default;
$blue-7: #1890ff !default;
// Geek Blue / 极客蓝
// 探索、钻研
$geekblue-6: #2f54eb !default;
// Golden Purple / 酱紫
// 优雅、浪漫
$purple-6: #722ed1 !default;
// Magenta / 法式洋红
// 明快、感性
$magenta-6: #eb2f96 !default;
// 灰色
$gray: #dcdcdc !default;
// 字色
$text-color: #292b2d !default;
$text-color-light: #60636c !default;
// 字号
$text-size-large: 16px !default;
$text-size: 14px !default;
$text-size-small: 12px !default;
// 行高
$line-height-large: 22px !default;
$line-height: 18px !default;
$line-height-small: 16px !default;
//不可用 颜色
$disabled-bg: #eff1f6 !default;
$disabled-color: #b4bac3 !default;
$disabled-border: #dbdee9 !default;
// code 的样式
$code-bg: #f0f0f0 !default;
// 阴影
$shadow: rgba(0, 0, 0, 0.15) !default;
// 遮罩颜色
$mask: rgba(0, 0, 0, 0.65) !default;
// 分割线
$dividing-color: #eaeef5 !default;
$dividing-small: 8px !default;
$dividing-middle: 16px !default;
$dividing-large: 24px !default;
// 间距
$space-small: 8px !default;
$space-middle: 16px !default;
$space-large: 32px !default;
// 超链的时间
$link-move-time: 0.5s !default;
// 空状态
$empty-size: 14px !default;
$empty-color: #292b2d !default;
$empty-color-light: #60636c !default;
$empty-img-space: 8px !default;

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
