/** @format */

@import '../style/config.scss';
@import '../style/mixins/ellipsis.scss';

$spin-size: (
  '': $spin-size,
  '-large': $spin-size-lg,
  '-small': $spin-size-sm,
);
$spin-tip-fontsize: (
  '': $spin-font-size,
  '-large': $spin-font-size,
  '-small': $spin-font-size-sm,
);
$spin-tip-space: (
  '': $spin-tip-space,
  '-large': $spin-tip-space-lg,
  '-small': $spin-tip-space-sm,
);

.w-spin {
  position: relative;
  transform-origin: center;
  transition: opacity $spin-duration, color $spin-duration;

  &-body {
    transition: opacity $spin-duration;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 10;
      display: none \9;
      width: 100%;
      height: 100%;
      background: $component-background;
      opacity: 0;
      transition: all $spin-duration;
      content: ' ';
      pointer-events: none;
    }

    &-active {
      clear: both;
      overflow: hidden;
      opacity: 0.5;
      user-select: none;
      pointer-events: none;

      &::after {
        opacity: $spin-opacity;
        pointer-events: auto;
      }
    }
  }

  &-icon {
    color: $spin-color;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    // 循环尺寸
    @each $size, $value in $spin-size {
      &#{$size} {
        color: $spin-color;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
      }

      &#{$size} svg,
      &#{$size} img {
        width: $value;
        height: $value;
      }
    }

    &-only {
      position: static;
      display: inline-block;
      transform: translate(0, 0);
      font-size: 0;
    }
  }

  &-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    user-select: none;
  }

  &-tip {
    @extend .w-ellipsis;

    margin: 0;
    color: $spin-color;
    width: 100%;
    line-height: 1;
    font-family: $font-family;
    text-align: center;

    // 循环尺寸
    @each $size, $value in $spin-size {
      &#{$size} {
        font-size: map-get($spin-tip-fontsize, $size);
        padding-top: map-get($spin-tip-space, $size);
      }

      &#{$size} svg,
      &#{$size} img {
        width: $value;
        height: $value;
      }
    }
  }
}
