/** @format */

@import '../style/config.scss';
@import '../style/mixins/spread.scss';

$tag-list: (
  '': $tag-height-base,
  '-large': $tag-height-lg,
  '-small': $tag-height-sm,
);

.w-tag-check {
  color: $text-color-secondary;
  padding: 0 8px;
  white-space: nowrap;
  background: $tag-bg;
  transition: background $tag-duration, color $tag-duration;
  cursor: pointer;
  font-family: $font-family;
  border-radius: $border-radius-base;
  font-size: $font-size-sm;

  &-inline {
    display: inline-block;
  }

  &-disabled {
    color: $disabled-color;
    cursor: not-allowed;
  }

  &-active {
    background: $tag-checked-bg;
    color: $tag-checked-color;

    & .w-tag-check-disabled {
      color: $tag-checked-color;
      cursor: not-allowed;
    }
  }

  // 循环尺寸
  @each $size, $value in $tag-list {
    &#{$size} {
      height: $value;
      line-height: $value;

      @if $size == '-small' {
        padding: 0 $padding-xs;
      }

      @if $size == '-large' {
        padding: 0 $padding-sm;
      }
    }
  }

  &:last-child {
    margin-right: 0;
  }
}
